In [ ]:
%pip install motsmeles

In [3]:
import motsmeles

In [4]:
game,answers=motsmeles.generate(
    [
        "PYTHON",
        "JAVA",
        "CPP",
        "HTML",
        "CSS",
        "PHP",
        "RUBY",
        "SWIFT",
        "PERL",
        "RUST",
    ],
    width = 10, 
    height = 10)
motsmeles.print(game)

AttributeError: module 'motsmeles' has no attribute 'print'

In [5]:
answers

     word direction  x1  y1  x2  y2
0  PYTHON        bd   3   5   9  -1
1    JAVA         h   9   5   9   9
2     CPP        hg   4   2   1   5
3    HTML         g   6   6   2   6
4     CSS         d   6   4   9   4
5     PHP         d   5   7   8   7
6    RUBY         g   6   9   2   9
7   SWIFT        bd   1   6   6   1
8    PERL         h   0   4   0   8
9    RUST         h   9   0   9   4

In [4]:
answers

           mot sens   x   y  xh  yh
0       PYTHON    b   8   8   8   2
1         JAVA   hd   6   9  10  13
2          CPP   bd   3   7   6   4
3   JAVASCRIPT    g  19   7   9   7
4         HTML    b   2  11   2   7
5          CSS   bd   8   2  11  -1
6          PHP   bg  19  12  16   9
7         RUBY    g   3   3  -1   3
8        SWIFT    g   5  17   0  17
9         PERL    b   9  11   9   7
10        RUST    d  16  16  20  16

In [11]:
motsmeles.save(game,"motsmeles.txt")

In [3]:
motsmeles.save_answers(answers)

In [14]:
a=[game,[
        "PYTHON",
        "JAVA",
        "CPP",
        "HTML",
        "CSS",
        "PHP",
        "RUBY",
        "SWIFT",
        "PERL",
        "RUST",
    ]]