In [ ]:
%pip install motsmeles

In [1]:
import motsmeles

In [2]:
jeu,answers=motsmeles.generate(
    [
        "PYTHON",
        "JAVA",
        "CPP",
        "JAVASCRIPT",
        "HTML",
        "CSS",
        "PHP",
        "RUBY",
        "SWIFT",
        "PERL",
        "RUST",
    ],
    dimensionsx =20, 
    dimensionsy = 20,
    allow_reverse=False)

In [3]:
motsmeles.print(jeu)

PRJSJQADCRSFCOZUNIFB
BTOKTCMNSSUOEPZCUTLH
EOMGACCHCPFLZKGFBFXM
YBURUZSBNSUQTJYLUIJI
NSFPLXTKONTRSQXGXRXI
JCJTTPKWHJLWDHEQPCMU
WQENPFZNTVCQZWGMFIXF
MKVCJXUDYZTPIRCSAVAJ
IMLYEXDJPLWUBKKYLJVE
NGMTQMJMNRPSTNWPZMVB
RJTEITLAREXDLBGQZPRW
CGHMHDWHVPMFHGRMMZHF
DWKUXTFUDAYBJFOPFFUP
YDZVYSUFKTORKRJIKMOK
KYMNPLIFVSLRKRWEMSJG
PBXKIDYJEAPLLBKLZQCQ
DUFAMUGIROGATWGQRUST
FTFIWSSQBOKUTOQZELLV
VAIVVGPDPUFJLDUOJEOQ
RUJUDATQXBYXXXTUDPNC

In [4]:
answers

           mot sens   x   y  xh  yh
0       PYTHON    b   8   8   8   2
1         JAVA   hd   6   9  10  13
2          CPP   bd   3   7   6   4
3   JAVASCRIPT    g  19   7   9   7
4         HTML    b   2  11   2   7
5          CSS   bd   8   2  11  -1
6          PHP   bg  19  12  16   9
7         RUBY    g   3   3  -1   3
8        SWIFT    g   5  17   0  17
9         PERL    b   9  11   9   7
10        RUST    d  16  16  20  16

In [4]:
motsmeles.save(jeu,"motsmeles.txt")

In [5]:
motsmeles.save_answers(answers,"motsmeles.csv")